<template>
  <body>
    <div class="container">
      <form id="myForm" action="processes" class="login">
        <h2>
          Iniciar <br />
          Sesion
        </h2>
        <div class="inputs">
          <i class="fas fa-user"></i
          ><input type="text" v-model="usuario" placeholder="usuario" />
        </div>
        <div class="inputs">
          <i class="fas fa-key"></i>
          <input
            type="password"
            v-model="contrasena"
            placeholder="contrasena"
          />
        </div>
        <div class="btn">
          <ion-button @click="getRespuesta()">ingresar</ion-button> 
        </div>
      </form>
    </div>
  </body>
</template>
<script>
import axios from "axios";
// import modal from "@/components/Modal.vue";
import { defineComponent } from "vue";
export default defineComponent({
  name: "login",
  components: {
    // modal,
  },
  data() {
    return {
      usuario: null,
      contrasena: null,
    };
  },
  mounted() {
    //this.getRespuesta();
  },
  methods: {
    getRespuesta() {
      const data = {
        username: this.usuario,
        password: this.contrasena,
      };

      axios
        .post("http://181.129.41.218/api/login/", data)
        .then(function (response) {
          localStorage.setItem("sesion", response.data.token);
          window.location.href = "/processes";
        })
        .catch(function (error) {
          alert(error);
          console.log(error)
        });
    },
  },
});
</script>
<style>
.container {
  background: url("fondo.png");
  min-height: 100vh;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  border-radius: 60px;
  background: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 15px 0px rgb(66 24 113/ 30%);
}
.login::after,
.login::before {
  background: rgb(255, 255, 255, 0.2);
  border-radius: 20px;
  position: absolute;
  box-shadow: 0px 5px 15px 0px rgb(66 24 113/ 30%);
  content: "";
  animation-name: rotate-box;
  animation-duration: 1.5s;
}
.login::after {
  width: 80px;
  height: 80px;
  top: -20px;
  left: -30px;
}
.login::before {
  width: 80px;
  height: 80px;
  top: 30px;
  left: -50px;
}
@keyframes rotate-box {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0);
  }
}

.login h2 {
  color: #ffedf9;
  margin-bottom: 50px;
  font-size: 35px;
}
.login input {
  border: none;
  outline: none;
  color: #ffedf9;
}
.login .inputs {
  width: 85%;
  margin-bottom: 30px;
  border-bottom: 3px solid #ffedf9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .inputs input {
  width: 93%;
  background: none;
  font-size: 20px;
  padding: 5px 10px 10px 0px;
}
.login .inputs input::placeholder {
  color: #e4d6df;
}
.login .btn input {
  background: #769ffe;
  font-size: 17px;
  padding: 10px 60px;
  border-radius: 10px;
  transition: 0.6s ease all;
  margin-bottom: 10px;
}
i {
  color: #ffedf9;
  margin-bottom: 3px;
}
.btn input:hover {
  background: #5f7ff3;
  cursor: pointer;
}

p {
  color: #ffedf9;
}
a:hover {
  text-decoration: none;
}
</style>
