<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar color="primary">
        <ion-title>
          <div class="encabezado">
            <div>MobilTec</div>
            <div>Emtelco Cx y Bpo</div>
            <div>
              <ion-fab-button size="small" @click="eliminarDatosLocalStorage" href="login"
                ><ion-icon :icon="power"></ion-icon
              ></ion-fab-button>
            </div>
            <div class="centrar" color="primary">
              <ion-icon :icon="moon"></ion-icon>
              <ion-label>Modo Oscuro</ion-label>
              <ion-toggle
                @click="darkModee"
                v-model="booleanDark"
                @ionChange="darkModee"
              ></ion-toggle>
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <template v-slot:fixed>
        <ion-refresher @ionRefresh="refresher($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
      </template>
      <ion-header collapse="condense">
        <ion-toolbar>
          <div>
            <ion-title size="large">Inicio</ion-title>
          </div>
        </ion-toolbar>
      </ion-header>
      <div class="encabezado2">
        <div>{{ getSaludo }}</div>
        <div>
          <ion-text>{{ getHoy }}</ion-text>
        </div>
      </div>

      <ion-card>
        <ion-card-header class="centrarTitulo">
          <ion-card-title color="primary">¡Bienvenidos!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <h2>
            <ion-text class="centrarTitulo" color="white"
              >Bienvenidos a la app movil de Emtelco de la Sede
              Premisas</ion-text
            >
          </h2>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <br />
        <ion-card-title class="centrarTitulo" color="primary"
          >¿Que vamos a hacer hoy?</ion-card-title
        >
        <br />
        <div class="divPadre">
          <!-- iconos de la vista principal para procesos futuros de la aplicacion -->
          <div class="iconosItem">
            <ion-fab-button href="/tabs/tab1"
              ><ion-icon :icon="listCircleOutline"></ion-icon
            ></ion-fab-button>
            <ion-label class="labels">Almacen</ion-label>
          </div>
          <div class="iconosItem">
            <ion-fab-button @click="darkMode"
              ><ion-icon :icon="people"></ion-icon
            ></ion-fab-button>
            <ion-label class="labels">Logistica</ion-label>
          </div>
          <div class="iconosItem">
            <ion-fab-button
              ><ion-icon :icon="shieldCheckmarkOutline"></ion-icon>
            </ion-fab-button>
            <ion-label class="labels">Aprobacion</ion-label>
          </div>
          <div class="iconosItem">
            <ion-fab-button
              ><ion-icon :icon="notificationsCircleOutline"></ion-icon
            ></ion-fab-button>
            <ion-label class="labels">Notificaciones</ion-label>
          </div>
          <div class="iconosItem">
            <ion-fab-button
              ><ion-icon :icon="locationOutline"></ion-icon>
            </ion-fab-button>
            <ion-label class="labels">Localizacion</ion-label>
          </div>
          <div class="iconosItem">
            <ion-fab-button
              ><ion-icon :icon="lockClosed"></ion-icon>
            </ion-fab-button>
            <ion-label class="labels">Politicas</ion-label>
          </div>
          <div class="iconosItem">
            <ion-fab-button
              ><ion-icon :icon="calendarNumberOutline"></ion-icon>
            </ion-fab-button>
            <ion-label class="labels">Plazos</ion-label>
          </div>
          <div class="iconosItem">
            <ion-fab-button><ion-icon :icon="help"></ion-icon> </ion-fab-button>
            <ion-label class="labels">Ayuda</ion-label>
          </div>
        </div>
      </ion-card>
    </ion-content>
    <!-- Icon start -->
    <ion-card>
      <ion-segment value="1">
        <ion-segment-button value="1" layout="icon-start">
          <ion-label>Inicio</ion-label>
          <ion-icon :icon="homeOutline"></ion-icon>
        </ion-segment-button>
      </ion-segment>
    </ion-card>
  </ion-page>
</template>

<script>
import services from "@/services";
import moment from "moment";
import {
  IonPage,
  IonHeader,
  IonRefresher,
  IonRefresherContent,
  IonToolbar,
  IonTitle,
  IonContent,
  IonSegmentButton,
} from "@ionic/vue";
import {
  personOutline,
  heart,
  settingsOutline,
  accessibility,
  listCircleOutline,
  help,
  people,
  lockClosed,
  locationOutline,
  notificationsCircleOutline,
  shieldCheckmarkOutline,
  calendarNumberOutline,
  homeOutline,
  power,
  moon,
} from "ionicons/icons";
import { defineComponent } from "vue";
export default defineComponent({
  name: "processes",
  data() {
    return {
      booleanDark: false,
      hour: 0,
      minutes: 0,
      hoy: String,
    };
  },
  created() {
    this.actualizarTiempo();
  },
  methods: {
    actualizarTiempo() {
      //datos condicionales para saludo
      const date = new Date(Date.now());
      this.hour = date.getHours();
      this.minutes = date.getMinutes();
      this.minutes =
        this.minutes > 9 ? this.minutes : "0" + this.minutes.toString();
      //libreria moment js
      moment.locale("es");
      const date2 = moment();
      this.hoy = date2.format(`dddd D MMMM`);
    },
    montar() {
      //trabajo en el toogle activado en el modo oscuro
      this.booleanDark = !this.booleanDark;
      if (localStorage.getItem("boleanDarkVerification")) {
        this.booleanDark = true;
      }
    },
    darkModee() {
      //modo oscuro montado en el localstorage
      this.booleanDark = !this.booleanDark;
      if (this.booleanDark == true) {
        const booleanSorage = document.body.classList.toggle("dark");
        localStorage.setItem(
          "boleanDarkVerification",
          JSON.stringify(booleanSorage)
        );
      } else if (this.booleanDark == false) {
        localStorage.removeItem("boleanDarkVerification");
        document.body.classList.remove("dark");
      }
    },
    eliminarDatosLocalStorage() {
      //eliminar datos de Localstorage
      window.localStorage.clear();
    },
  },
  //trabajo con variables computadas en fechas y saludo de la aplicacion
  computed: {
    getHoy() {
      return this.hoy;
    },
    getSaludo() {
      if(this.hour<12){
        return "Buenos dias"
      }
      else if(this.hour<18){
        return "Buenas tardes"
      }else{
        return "Buenas noches"
      }
    },
  },
  setup() {
    return {
      homeOutline,
      calendarNumberOutline,
      shieldCheckmarkOutline,
      personOutline,
      heart,
      settingsOutline,
      accessibility,
      listCircleOutline,
      help,
      people,
      lockClosed,
      locationOutline,
      notificationsCircleOutline,
      power,
      moon,
    };
  },
  components: {
    IonHeader,
    IonToolbar,
    IonRefresher,
    IonTitle,
    IonContent,
    IonPage,
    IonRefresherContent,
    IonSegmentButton,
  },
  mounted() {
    services.darkMode();
  },
});
</script>
<style>
.iconosItem {
  display: grid;
  place-items: center;
}
.labels {
  display: grid;
  place-items: center;
}
.divPadre {
  display: grid;
  place-items: center;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 70px);
  margin-bottom: 10px;
  margin-top: 10px;
}
.encabezado {
  display: grid;
  place-items: center;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 30px);
  margin-bottom: 20px;
  margin-top: 20px;
}
.encabezado2 {
  display: grid;
  place-items: center;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
  margin-top: 15px;
}
.centrar {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}
.centrarTitulo {
  display: grid;
  place-items: center;
}
</style>
