<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar color="primary">
        <ion-row>
          <ion-col size="2">
            <ion-fab-button size="small" href="/processes"
              ><ion-icon :icon="arrowBackOutline"></ion-icon
            ></ion-fab-button>
          </ion-col>
          <div class="element"><ion-title>Dispositivos</ion-title></div>
        </ion-row>
        <br />
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <template v-slot:fixed>
        <ion-refresher @ionRefresh="refresher($event)">
          <ion-refresher-content></ion-refresher-content>
        </ion-refresher>
      </template>
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-title size="large">Dispositivos</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-list>
        <MessageListItem
          v-for="message in messages"
          :key="message.id"
          :message="getParams(message)"
          :view="'tab2'"
        />
      </ion-list>
    </ion-content>
  </ion-page>
</template>
<script>
import {
  IonPage,
  IonHeader,
  IonList,
  IonRefresher,
  IonRefresherContent,
  IonToolbar,
  IonTitle,
  IonContent,
} from "@ionic/vue";
import service from "../services";
import MessageListItem from "@/components/MessageListItem.vue";
import { arrowBackOutline } from "ionicons/icons";
//libreria para manejo de fechas
import moment from "moment";
import { defineComponent } from "vue";
export default defineComponent({
  name: "Tab2",
  data() {
    return {
      messages: [],
    };
  },
  setup() {
    return {
      arrowBackOutline,
    };
  },
  methods: {
    async getData() {
      this.messages = await service.getdata(
        "http://181.129.41.218/api/userDeviceTicket/?"
      );
    },
    getParams(message) {
      const datajson = message.json_data_ticket_device;
      //Se ingresa todas las variables en un try para al momento
      //de haber un error o cambio no afecte todos los registros
      try {
        //VARIABLES HEREDANDO A JSONPARSE
        const JsonParse = JSON.parse(
          datajson
            .replace(/"/gi, "")
            .replace(/'/gi, '"')
            .replace(/None/gi, "null")
        );
        //Si alguno de las variables genera un error en todo el ticket porque
        //algun usuario no hizo un registro, se cambia JSON.parse por JSON.stringify
        //asi como este, por ejemplo:
        //ANTES
        //const JsonUserUsed = JSON.parse(JsonParse.data[0].user_used);
        //DESPUES
        //const JsonUserUsed = JSON.stringify(JsonParse.data[0].user_used);

        const JsonUserUsed = JSON.stringify(JsonParse.data[0].user_used);
        const JsonAlmacen = JSON.parse(JsonParse.data[0].warehouse);
        const JsonLength = JSON.parse(JsonParse.data.length);
        const JsonUserSend = message.user;
        const Jsondescription = JSON.stringify(
          JsonParse.data[0].description
        ).replace(/"/gi, "");
        //VARIABLES HEREDANDO A JSONPARSE2
        const JsonParse2 = JsonParse.data;
        const JsonSerial = JsonParse2.map((filtroSerial) => {
          return filtroSerial.serial;
        });
        const JsonMac = JsonParse2.map((filtroMac) => {
          return filtroMac.mac;
        });
        //VARIABLES DE FECHA
        moment.locale("es");
        const date = moment();
        return {
          id: message.id,
          userId: JsonUserUsed,
          almacen: JsonAlmacen,
          serial: JsonSerial,
          length: JsonLength,
          userSend: JsonUserSend,
          description: Jsondescription,
          mac: JsonMac,
          date: date.format(`dddd D MMMM`),
          nombreDescription: message.description,
        };
      } catch (error) {
        return error;
      }
    },
  },
  components: {
    IonHeader,
    IonList,
    IonToolbar,
    IonRefresher,
    IonTitle,
    IonContent,
    IonPage,
    IonRefresherContent,
    MessageListItem,
  },
  mounted() {
    this.getData();
  },
});
</script>
<style scoped>
.element {
  display: grid;
  place-items: center;
}
</style>