<template>
  <ion-page>
    <ion-tabs>
      <ion-tab-bar color="primary">
        <ion-tab-button tab="tab1" href="/tabs/tab1">
          <ion-icon :icon="laptop"/>
          <ion-label>Equipos</ion-label>
        </ion-tab-button>
          
        <ion-tab-button tab="tab2" href="/tabs/tab2">
          <ion-icon :icon="desktop" />
          <ion-label>Dispositivos</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="tab3" href="/tabs/tab3">
          <ion-icon :icon="build" />
          <ion-label>Materiales</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-page>
</template>

<script lang="ts">
import { IonTabBar, IonTabButton, IonTabs, IonLabel, IonIcon, IonPage } from '@ionic/vue';
import { laptop, build, desktop, home } from 'ionicons/icons';
export default {
  name: 'Tabs',
  components: { IonLabel, IonTabs, IonTabBar, IonTabButton, IonIcon, IonPage },
  setup() {
    return {
      laptop, 
      build, 
      desktop,
      home
    }
  }
}
</script>