<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-buttons>
          <ion-back-button></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <ion-item>
        <ion-icon :icon="personCircle" color="primary"></ion-icon>
        <ion-label class="ion-text-wrap">
          <h2>
            <!-- la idea de este registro es que no sea la fecha de hoy sino la fecha que se envio el registro -->
            <span class="date">
              <ion-note>{{message.date}}</ion-note>
            </span>
          </h2>
          <h3>
            enviado por:
            <ion-note>
              <ion-label>{{ message.userSend}}</ion-label>
            </ion-note>
          </h3>
        </ion-label>
      </ion-item>
      <div class="ion-padding">
        <h4>{{`Descripcion: ${message.description}`}}</h4>
        <h4>{{`Serial: ${message.serial}`}}</h4> 
        <h4 v-if="message.mac">{{`Mac:${message.mac}`}}</h4> 
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import {
  IonBackButton,
  IonButtons,
  IonContent,
  IonHeader,
  IonIcon,
  IonItem,
  IonLabel,
  IonNote,
  IonPage,
  IonToolbar,
} from "@ionic/vue";
import { personCircle } from "ionicons/icons";
import { defineComponent } from "vue";
export default defineComponent({
  name: "viewMessage",
  data() {
    return {
      message: [],
    };
  },
  setup() {
    return {
      personCircle,
    };
  },
  components: {
    IonBackButton,
    IonButtons,
    IonContent,
    IonHeader,
    IonIcon,
    IonItem,
    IonLabel,
    IonNote,
    IonPage,
    IonToolbar,
  },
  mounted() {
    const jsonMessage = {
      userSend: localStorage.getItem("userSend"),
      description: localStorage.getItem("description"),
      serial: localStorage.getItem("seriales"),
      date: localStorage.getItem("fecha")
    };

    this.message = jsonMessage;
    window.localStorage.removeItem("description");
    window.localStorage.removeItem("userSend");
    window.localStorage.removeItem("seriales");
    window.localStorage.removeItem("fecha");
  },
});
</script>

<style scoped>
ion-item {
  --inner-padding-end: 0;
  --background: transparent;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

p {
  line-height: 22px;
}
</style>
