<template>
  <ion-item
    v-if="message"
    :routerLink="'/message'"
    :detail="false"
    @click="callView(message)"
    class="list-item"
  >
    <template v-slot:start>
      <div class="!message.read ? 'dot dot-unread' : 'dot'"></div>
    </template>
    <ion-label class="ion-text-wrap">
      <template v-if="view == 'tab1'">
        <h2>
          <ion-icon :icon="ticket" />
          {{ `Numero de ticket: ${message.id}` }}
          <ion-label>
            <ion-icon :icon="send" />
            {{ `Numero de Equipos: ${message.length}` }}</ion-label
          >
          <span class="date">
            <ion-note>{{ `User used: ${message.userId}` }}</ion-note>
            <ion-icon
              :icon="chevronForward"
              size="small"
              v-if="isIos()"
            ></ion-icon>
          </span>
        </h2>
        <h3>
          <ion-icon :icon="home" />
          {{ `Almacen: ${message.almacen}` }}
        </h3>
        <p>
          <b>{{ `Mac: ${message.mac}` }}</b>
        </p>
      </template>
      <template v-else-if="view == 'tab2'">
        <h2>
          <ion-icon :icon="send" />
          {{ `Descripcion General: ${message.nombreDescription}` }}
          <ion-label>
            <ion-icon :icon="ticket" />
            {{ `Numero de ticket: ${message.id}` }}</ion-label
          >
          <ion-label>
            <ion-icon :icon="send" />
            {{ `Numero de dispositivos: ${message.length}` }}</ion-label
          >
          <span class="date">
            <ion-note>{{ `User used: ${message.userId}` }}</ion-note>
            <ion-icon
              :icon="chevronForward"
              size="small"
              v-if="isIos()"
            ></ion-icon>
          </span>
        </h2>
        <h3>
          <ion-icon :icon="home" />
          {{ `Almacen: ${message.almacen}` }}
        </h3>
        <p>
          <b>{{ `Mac: ${message.mac}` }}</b>
        </p>
      </template>
      <template v-else>
        <h2>
          <ion-icon :icon="ticket" />
          {{ `Numero de ticket: ${message.id}` }}
          <ion-label>
            <ion-icon :icon="send" />
            {{
              `Numero de conjuntos de Materiales: ${message.length}`
            }}</ion-label
          >
          <span class="date">
            <ion-note>{{ `User used: ${message.userId}` }}</ion-note>
            <ion-icon
              :icon="chevronForward"
              size="small"
              v-if="isIos()"
            ></ion-icon>
          </span>
        </h2>
        <h3>
          <ion-icon :icon="home" />
          {{ `Almacen: ${message.almacen}` }}
          <p>
            <b>{{ `Cantidades: ${message.cantidadMateriales}` }}</b>
          </p>
        </h3>
      </template>
    </ion-label>
  </ion-item>
</template>
<script>
import { IonIcon, IonItem, IonLabel, IonNote } from "@ionic/vue";
import { chevronForward } from "ionicons/icons";
import { send, ticket, home } from "ionicons/icons";
import { defineComponent } from "vue";

export default defineComponent({
  name: "MessageListItem",
  components: {
    IonIcon,
    IonItem,
    IonLabel,
    IonNote,
  },
  setup() {
    return {
      send,
      ticket,
      home,
    };
  },
  props: {
    message: Object,
    view: String,
  },
  methods: {
    isIos: () => {
      const win = window;
      return win && win.Ionic && win.Ionic.mode === "ios";
    },
    callView(message) {
      localStorage.setItem("userSend", message.userSend);
      localStorage.setItem("description", message.description);
      localStorage.setItem("seriales", message.serial);
      localStorage.setItem("fecha", message.date);
    },
  },
  data() {
    return {
      chevronForward,
    };
  },
});
</script>

<style scoped>
.list-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

.list-item ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

.list-item h2 {
  font-weight: 600;
  margin: 0;
}

.list-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 95%;
}

.list-item .date {
  float: right;
  align-items: center;
  display: flex;
}

.list-item ion-icon {
  color: #c9c9ca;
}

.list-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

.list-item ion-note.md {
  margin-right: 14px;
}

.list-item .dot {
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
}

.list-item .dot-unread {
  background: var(--ion-color-primary);
}
</style>