// Modal para posibles alertas de la aplicacion a futuro, no se a utilizado
<template>
  <ion-button @click="setOpen(true)">ingresar</ion-button>
  <ion-alert
    :is-open="isOpenRef"
    header="error"
    sub-header="Subtitle"
    message="alert"
    css-class="my-custom-class"
    :buttons="buttons"
    @didDismiss="setOpen(false)"
  >
  </ion-alert>
</template>

<script>
import { IonAlert, IonButton } from '@ionic/vue';
import { defineComponent, ref } from 'vue';
export default defineComponent({
  name: "modal",
  components: { IonAlert, IonButton},
  setup() {
    const isOpenRef = ref(false);
    const setOpen = (state= Boolean) => isOpenRef.value = state;
    const buttons = ['Ok'];

    return { buttons, isOpenRef, setOpen }
  },
});
</script>

<style scoped>
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}
</style>